* {
    padding: 0%;
    margin: 0%;
    overflow-x: hidden;
}
p{
    color: #1b1918;

}
.footer {
    text-align: center;
    font-size: large;
    background-color: #4a5562;
    padding-top: 1%;
}

.container{

    margin-top: 3%;
    margin-bottom: 7%;

}

.footer p{
    color: white;
}

.ancora {
    float: right;
    padding-right: 3%;
    margin-left: -15%;
    padding-bottom: 1%;
    opacity: 50%;
}


.ancora:hover {
    transition: 1s;
    opacity: 1;
}
.carousel-item {
    overflow: hidden;
    height: 300px;
}

.navbar-brand {
    font-family: cursive;
    font-size: 175%;
}

textarea{

    resize: none;

}

.text-center{


    margin-top: 1%;

}

.sobre {
    padding-right: 15%;
    padding-left: 15%;
    text-align: justify;
    font-family: Arial;
    font-size: 150%;
}

.cards-precos {
    margin-left: 5%;
    display: flex;
    flex-wrap: wrap;
}

.card-text {
    overflow: hidden;
}

.wrap {
    flex-wrap: wrap;
}

.contato-bg {
    padding: 5%;
    margin: 5%;
    background-color: #1d1d1d;
    border-radius: 6px;
    background-image: url("img/bg-ct.jpg");
}

.p-3 mb-2 bg-light text-dark{
    border-radius: 12px;
}